.landing * {
    box-sizing: border-box;
}

.landing h2 {
    background-color: #83677B;
    text-align: center;
    margin-top: 0px;
    padding: 0px 0px 50px 0px;
    font-size: 30px;
    font-style: none;
    text-decoration: none;
    color: #2E1114;
    margin-bottom: 0;
}

.landing a {
    text-decoration: none;
    color: #2E1114;
}

.landing p {
    margin:0;
    padding: 5% 30%;
    background-color: #F1EDF1;
}

.landing img {
    width: 50px;
    margin: 25px;
}

.options {
    margin:0;
    text-align: center;
    background-color: #2E1114;
    color: #F1EDF1;
}

.landing h3 {
    margin-top: 0;
    margin-bottom: 10px;
    padding: 25px;
}

.SignUp_link {
    color: #83677B;
}

.Login_link {
    color: #83677B;
}
