.Landing_Page * {
    box-sizing: border-box;
}

.Landing_Page a {
    text-decoration: none;
    color: #83677B;
}

.Landing_Page p {
    margin:0;
    padding: 5% 20%;
    background-color: #F1EDF1;
    color: black;
}

.Landing_Page img {
    width: 30px;
    margin: 25px;
}

.contact {
    margin:0;
    text-align: center;
    background-color: #6C648B;
    color: #F1EDF1;
}
