h1 {
    background-color: #83677B;
    font-size: 60px;
    font-style: none;
    text-decoration: none;
    color: #2E1114;
}

h2 {
    background-color: #83677B;
    text-align: center;
    margin-top: 0px;
    padding: 0px 0px 50px 0px;
    font-size: 30px;
    font-style: none;
    text-decoration: none;
    color: #2E1114;
}

a {
    text-decoration: none;
    color: #2E1114;
}

p {
    padding: 5% 30%;
}