.AddNotePage {
    max-width: 70%;
    margin-right: 35%;
    float:right;
    padding: 20px;
    margin-top: 40px;
    border: 1px solid #2E1114;
}

.AddNotePage h2 {
    background-color: white;
}

.field {
    padding: 15px;
}
