.AddNotePage {
    max-width: 80%;
    display:block;
    padding: 15%;
}

.AddNotePage h2 {
    text-align:center;
    font-size: 22px;
}

.AddNotePage .Add-note-button {
    display: block;
    text-align: center;
    margin:0 auto 15px auto;
    color: black;
    background-color: #6C648B;
    text-decoration: none;
    border-radius:5%;
    border: 1px black;
    font-size:20px;
    width:200px;
    height:55px;
    padding:15px 0px 15px 0px;
    cursor: pointer;
}

.Add-note-subtitle {
    text-align:center;
    letter-spacing: 2px;
}

.AddNotePage .Cancel-add-note-button {
    display: block;
    text-align: center;
    margin:0 auto 0 auto;
    color: black;
    background-color: #FF3737;
    text-decoration: none;
    border-radius:5%;
    border: 1px black;
    font-size:20px;
    width:200px;
    height:42px;
    padding:0px 0px 15px 0px;
}

.AddNotePage .Add-note-button:hover {
    background-color:#FBA100;
}

.AddNotePage .Cancel-add-note-button:hover {
    background-color:#FBA100;
}

.AddNotePage Input {
    width:200px;
    margin:15px;
}

.AddNotePage Textarea {
    width:200px;
    margin:15px;
}