.BookNotesPage h2 {
    text-align:center;
    margin:50px 15px 0px 15px;
}

.BookNotesPage h3 {
    text-align:center;
    margin:15px;
}

.Add-book-note-button p {
    text-align:center;
    margin:0;
}

.Notes-subtitle {
    letter-spacing: 2px;
}

.Add-book-note-button {
    background-color: #6C648B;
    display: block;
    text-align: center;
    margin:0 auto 0 auto;
    text-decoration: none;
    border-radius:5%;
    border: 1px black;
    color: black;
    font-size: 20px;
    width:150px;
    height:42px;
    padding-top:15px;
}

.Add-book-note-button:hover {
    background-color:#C2B8FF;
}