.single-book {
    border: solid #2E1114;
    padding: 20px;
    margin: 20px;
}

ul {
    list-style: none;
    padding: 15px;
}

.Add-note-button {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #2E1114;
    border: 1px solid #2E1114;
    margin: 10px;
    padding: 5px;
}

.Edit-book-button {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #2E1114;
    border: 1px solid #2E1114;
    margin: 10px;
    padding: 5px;
}

.View-notes-button {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #2E1114;
    border: 1px solid #2E1114;
    margin: 10px;
    padding: 5px;
}

.Borrowed-button {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #2E1114;
    border: 1px solid #2E1114;
    margin: 10px;
    padding: 5px;
}