.single-book {
    border: solid 3px #FBA100;
    padding: 20px;
    margin: 20px;
}

ul {
    list-style: none;
    padding: 15px;
}

.single-book .Book-borrowed-button {
    display: block;
    text-align: center;
    margin:15px 0;
    color: black;
    background-color: #4EB34A;
    text-decoration: none;
    border-radius:5%;
    border: 1px black;
    font-size:20px;
    height:55px;
    padding:10px 5px;
    width:200px;
    cursor: pointer;
}

.single-book .Book-add-note-button {
    display: block;
    text-align: center;
    margin:15px 0;
    color: black;
    background-color: #6C648B;
    text-decoration: none;
    border-radius:5%;
    border: 1px black;
    font-size:20px;
    width:200px;
    height:45px;
    padding:15px 0px 0px 0px;
}

.single-book .Book-view-notes-button {
    display: block;
    text-align: center;
    margin:15px 0;
    color: black;
    background-color: #FBA100;
    text-decoration: none;
    border-radius:5%;
    border: 1px black;
    font-size:20px;
    width:200px;
    height:45px;
    padding:15px 0px 0px 0px;
}

.buttons .Book-description-button {
    background-color: #6BBAA7;
    display: block;
    text-align: center;
    margin:15px 0;
    text-decoration: none;
    border-radius:5%;
    border: 1px black;
    color: black;
    font-size: 20px;
    width:200px;
    height:42px;
    padding-top:15px;
}

.buttons .Book-remove-button {
    background-color: #FF3737;
    display: block;
    text-align: center;
    margin:15px 0;
    text-decoration: none;
    border-radius:5%;
    border: 1px black;
    color: black;
    font-size: 20px;
    width:200px;
    height:55px;
    padding:10px 0px;
    cursor: pointer;
}

.single-book .Book-borrowed-button:hover {
    background-color:#C2B8FF;
}

.single-book .Book-remove-button:hover {
    background-color:#C2B8FF;
}

.single-book .Book-description-button:hover {
    background-color:#C2B8FF;
}

.single-book .Book-add-note-button:hover {
    background-color:#C2B8FF;
}

.single-book .Book-view-notes-button:hover {
    background-color:#C2B8FF;
}


.single-book img {
    float:left;
    margin: 0 15px 15px 0;
    width:100%;
    height:auto;
}

.single-book h3 {
    display:block;
    text-align:center;
    font-size:28px;
}

.single-book h4 {
    text-align:center;    
    font-size:22px; 
    margin:5px;
}

.single-book h5 {
    text-align:center;    
    font-size:20px;
    margin:5px;
}