.SignUpForm {
    display: block;
    max-width: 50%;
    border: 1px solid #2E1114;
    margin: 50px;
    padding: 50px;
}

Input {
    margin-top: 25px;
    height: 40px;
    width: 200px;
}

label {
    font-size: 20px;
    margin-right: 10px;
}

.SignUpForm_Submit {
    display: block;
    text-align: center;
    margin: 20px;
    padding: 10px;
    color: #2E1114;
    border: 1px solid #2E1114;
    background-color: #83677B;
    text-decoration: none;
}